
<% layout("/layouts/boilerplate.ejs") %>

        
        <div class="row">
            <div class="col-6 offset-3 mt-3">
                <h1 class="mb-3">Login</h1>
                <form class="needs-validation" novalidate method="post" action="/user/login">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input id="username" type="text" name="username" placeholder="Enter Username" required class="form-control">
                    </div>
                

                     <div class="mb-3 " >
                        <label for="password" class="form-label">Password</label>
                        <input id="pas sword" type="password"  required name="password" class="form-control">

                    </div>

                    <button  type="submit" class="btn btn-success">Login</button>
                </form>
            </div>
        </div>